<!--page for inventory list-->

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Inventory</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>

    <header>
        <div class="headerRight">
            <a href="index.html"><img src="content/vendinglogo-text.png" height="25" width="135"></a>
        </div>
    </header>

    <body class="boring-darkblue-bg">
        <div class="body-inventory">
            <div *ngIf="!updateInfo">
                <li class="info" *ngFor="let accounts of accounts">
                    <div class="info-msg">
                        <div class="info-msg-text">Item Name: Zip Ties</div>
                        <div class="info-msg-text">Id: 1:20</div>
                        <div class="info-msg-text">About: Bundle your cables and wires together to keep them organized and prevent damage.</div>
                        <div class="info-msg-text">Remaining: 53</div>
                    </div>
                    <div class="info-btns-container">
                        <button class="info-btn" (click)="deleteBtn(account.Id)">Delete Item</button>
                        <button class="info-btn" (click)="updateBtn(account.Id)">Update Info</button>
                        <a href="details-admin.html" button class="info-btn" (click)="detailsBtn(account.Id)">Item Details</button></a>
                    </div>
                </li>
            </div>

            <div class="form" *ngIf="updateInfo">
                <div class="header-inventory">
                    UPDATE INFO
                </div>
                <div class="input">
                    <div class="input-field">
                        <div class="header">Id</div>
                        <input class="input" value="{{Id}}" [(ngModel)]="Id" name="Id" type="text">
                    </div>
                    <div class="input-field">
                        <div class="header">Item Name</div>
                        <input class="input" value="{{itemName}}" [(ngModel)]="itemName" name="itemName" type="text">
                    </div>
                    <div class="input-field">
                        <div class="header">Short Description</div>
                        <input class="input" value="{{short-desc}}" [(ngModel)]="short-desc" name="short-desc" type="text">
                    </div>
                    <div class="input-field">
                        <div class="header">Long Description</div>
                        <input class="input" value="{{long-desc}}" [(ngModel)]="long-desc" name="long-desc" type="text">
                    </div>
                    <div class="input-field">
                        <div class="header">Remaining</div>
                        <input class="input" value="{{remaining}}" [(ngModel)]="remaining" name="remaining" type="text">
                    </div>

                </div>
                <div class="update-acc">
                    <button class="update-acc-btn" (click)="submitBtn()">Submit</button>
                </div>
            </div>
        </div>
        </div> 

        <footer>
            &copy; VENDING CO. 
        </footer>
    
    </body>
</html>
